.text-center{
    text-align: center;
}
.heading-small{
    font-size: 1.25rem;
}
.heading-medium{
    font-size: 1.5rem;
}
.heading-big{
    font-size: 1.75rem;
}

.bg-dark-blue{
    background: #07121b;
}
.bg-light-blue{
    background: #336ea2;
}

.btn{
    margin-top:1.25rem;
    padding: 0.8rem 3rem;
    border: 2px solid rgb(112, 112, 111);
    border-radius: 8pc;
    letter-spacing: 4px;
    color: #fff;
}
.btn-primary{
    background: #07121b;
}
.btn-primary:hover{
    color:#07121b;
    background: #ffff;
}

.btn-red{
    background: red;
}
.btn-red:hover{
    color:red;
    background: #ffff;
}

.btn-block{
    width: 100%;
    text-align: center;
}

.btn-contact-pre{
    margin-bottom: 2.5rem;
    color: #fff;
    background: #07121b;
}

.btn-contact-pre:hover{
    color:  #fff;
    background: rgba(128, 255, 0, 0.5);
}

.container{
    max-width: 1100px;
    margin: 0 auto; 
}

.icon-style{
    background: rgb(255, 136, 0);
    border: 0.5px solid rgb(255, 136, 0);
    border-radius: 0.6pc;
    color: black; 
}

.form-group{
    padding: 0.25rem 0;   
}
.form-group label{
    display: block;
}

.form-control{
    width: 100%;
    padding:0.5rem;
    font-size: 1rem;
    resize: none;
    border-radius: 30px;
}
.colors{
    background: rgb(241, 234, 163);
}
