*{
    margin: 0;
    padding: 0;
    box-shadow: border-box;
}
a{
    text-decoration: none;
    color:#ffff;
}
html{
    font-family:"Open Sans", sans-serif;
}

#navbar{
    color:#ffff;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 0 0.75rem;
    height: 70px;
}
#navbar ul{
    list-style-type: none;
    display: flex;
    align-items: center;
}
#navbar ul li a{
padding: 0.5rem;
}
#navbar ul li a:hover{
    background: #336ea2;
    border-radius: 4px;
}
#home{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    border-bottom:2px solid #062E51
}
  #home img{
    max-width: 100%;
    height: auto;
    border-radius: 100%;
  }
    #home h2{
    margin-bottom: 0.75rem;
  } 

  #home .name p{
    opacity: 0.6;
    font-style: italic;
  }
  #training{
    color: #ffff;
    padding:1rem;
  }
  #training .items{
    display:flex;
    justify-content: space-between;
    align-items:center;
    margin:0.5rem;
  }

  #training .items .item{
    width: 33%;
    text-align: center;
    padding: 0.5rem;
  }
  #training .items .item:hover{
    background:rgba(119, 122, 119, 0.473) ; 
    border: 2px solid rgba(0, 0, 0, 0.315);
    border-radius: 8pc; 
    color: rgb(255, 255, 255)
  }
  #courses{
    color: #333;
    padding:1rem;
  }
  .courses{
    display:flex;
    flex-direction:column;
    padding: 1rem;
  }

  .courses .course{
   display:flex;
   padding: 0.5rem;
   margin-bottom: 10px;
  }
   .courses .course .course-image{
    margin-right: 4rem;
    position: relative;
   } 

   .courses .course .course-image img{
   border-radius: 7pc;
   } 
   .courses .course .course-image span{
    background:  red;
    padding: 0.25rem;
    color: #fff;
    border-radius: 4px;
    position:absolute;
    top:0;
    left:0;
   }
   .courses .course .course-info .title{
    letter-spacing: 1px;
    font-weight: 900;
    margin-bottom: 0.3rem;
   }
   .courses .course .course-info .discription{
    letter-spacing: 1px;
    font-weight: 400;
    margin-bottom: 0.3rem;
   }
   .courses .course .course-info .instructor{
    letter-spacing: 1px;
    font-weight: 500;
    margin-bottom: 0.3rem;
   }
   .courses .course .course-info .rating{
    font-size: 1rem;
    color: orangered;
    letter-spacing: 1px;
    font-weight: 900;
    margin-bottom: 0.3rem;
   }
   .courses .course .course-info:hover{
   background: rgb(24, 19, 19);
   padding: 1rem;
   color: #ffff;
   border: 0.75px solid rgba(5, 9, 14, 0.034);
   border-radius: 5px;
   height: 9rem;
   }
    #contact{
      color:#fff;
      padding: 1rem;
    }
    #contact .contact-form{
      max-width: 700px;
      margin-left: auto;
      margin-right: auto;
      display:flex;
      flex-direction: column;
    }
    #contact .contact-form ul {
      list-style-type: none;
      display:flex;
      align-self: center;  
    }
    #contact .contact-form ul li a{
    font-size: 3rem;
     padding: 1rem;
     margin-top: 5rem; 
    }
    #contact .contact-form ul li a:hover{
      background: rgba(0, 128, 0, 0.486);
      border: 0px solid rgba(0, 128, 0, 0.486);
      border-radius: 2pc;
      }
