#navbar{
    flex-direction: column;
    padding: 0.5rem;
    padding-bottom: 0.5rem;
    overflow: hidden;
    height: 80px;
 }
 #training .items{
   flex-direction: column;
 }
 #training .items .item{
  width: 100%;
 }
 .courses .course{
  flex-direction: column;
 }
 #contact .contact-form{
  margin-left: 2rem;
  margin-right: 2rem;
  display:flex;
  flex-direction: column;
}
